<div class="border-bottom mb-5 pb-3">
  <%= form_tag products_path, method: :get do %>
  <div class="row mb-3">
    <div class="col">
      <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search products...' %>
    </div>

    <div class="col">
      <%= select_tag :store_id, options_for_select(@stores.map { |store| [store.name, store.id] }, selected: params[:store_id]), class: 'form-control', prompt: 'Select Store...' %>
    </div>

    <div class="col">
      <%= select_tag :per_page, options_for_select([['5', '5'], ['10', '10'], ['20', '20']], selected: params[:per_page]), class: 'form-control', include_blank: 'Per page' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= button_tag 'Search', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>

<div class="row column-gap-3 row-gap-3">
  <% @products.each do |product| %>
    <div class="product card col-auto" id="product-<%= product.id %>">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <h6>Store: <%= product.store.name %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Available: <span class="product--available"><%= product.available %></span></h6>

        <%= form_for CartProduct.new, url: cart_products_path, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity, class: 'form-control', value: 1 %>
          <%= button_tag 'Add to cart', class: 'btn btn-primary mt-2' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @products %>

<script>
  $(function () {
      Product.init();
  })
</script>